*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* part header */
header{
    position: fixed;
    z-index: 999;
   width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #bbd9c8d1;
   

}
header h1{
    color: azure;
    text-transform: capitalize;
    font-size: 1.3em;
}
header span{
    color: #670318;
}

.list-link:hover{
    color: #670318;
    
}
.logo{

    width: 5%;
    border-radius: 50%;
   
}
.nav{
    width: 40%;
 display: flex;
 justify-content: space-between;
 align-items: center;


}
.nav-list{
    list-style-type: none;
 

}
a{
    text-decoration: none;
    color: #fff;
    width: 8%;
    text-transform: capitalize;
   
}

/* part main */

.main{
    height: 50vh;
    background: url(backGround.avif)  no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
   align-items: center;  
}
.main2{
    background: url(backgruand-code.jpg) no-repeat;
    
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: space-around;
   align-items: center;
}
.taxt{
    color: azure;
    width:64vw;
     display: flex;
    justify-content: space-between;
}
.taxt p{
    height: 10vh;
    border-bottom: 1px solid azure;
}
.taxt h3{
    color: #fff;
    font-size: 0.9em;
}
.input{
    display: grid ;
   grid-template-columns:  3fr 1fr;
   gap: 2px;
   margin: 10px;
}
.search{
    width: 40vw;
  padding: 10px;
  border: none;
  font-size: 0.9em;
  color: #0f0b0bd1 ;
  outline: none;
  border-radius: 3px;
}

button{
    background-color: #0f0b0bd1;
    color: #fff;
    width: 5vw;
    text-transform: capitalize;
    border-radius: 6px;
    border: none;
}
button:hover{
    background-color: #fff;
    color:  #0f0b0bd1;
    letter-spacing: 2px;
    cursor: pointer;
}
/* part card */
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    background-color: aliceblue;

}

.box-card{
    width: 40vw;
   
    display: grid;
    grid-template-columns: 5fr 6fr 5fr;
    gap: 3px;
}
.box-cards{
   background-color: #fff;
    height: 24vh;
    border: 1px solid #0f0b0bd1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;

}
h3 {
    color: #0f0b0bd1;
    font-size: 1.3em;
    text-transform: capitalize;
    /* border-bottom: #0f0b0bd1 1px solid; */
}
.text-card{
    color: #0f0b0bd1;
    font-size: 1.1em;
    text-transform: uppercase;
}
.img-card1{
   
    width: 60%;
}
.img-card{
    width: 24%;
}
.img-card3{
    width: 52%;
}
/* part serves */
.serves{
    background-color:#0f0b0bd1 ;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;

}
.serves h3{
    color: #fff;
}

.serves-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 4px;
  
}
.serves-item{
    padding: 5px;
    border: 1px solid #0f0b0bd1;
    width: 28vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #fff;
    color: #0f0b0bd1;
}

.info{
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
}
footer{
    background-color: aliceblue;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer{
    background-color: rgb(82, 249, 166);
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #0f0b0bd1;
    font-size: 1.0em;
    text-transform: capitalize;
}
span{
    color: #023c24;
}
.container1{
    height: 180vh;
    display: flex ;
   justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: #670318 1px solid;
}
.cards1{
    
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.card1{
    
    margin-bottom: 10%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    width: 80%;
    position: relative;
}
.span-img{
    position: absolute;
    top: 0;
    left: 21%;
    background-color: aliceblue;
}
.card1 img{
    width: 50%;
}
.card1 span{
    display: block;
}
.card1 p{
    width: 40%;
   font-size: 0.8em;
    text-align: center;
}
.card1 a {
    margin-top: 4px;
    color: #111;
    width: 15%;
    border-bottom: 1px solid #112;
}

